</section>  <%= image_tag asset_path( 'gift.gif' ), width: "100%", height: 450, class: "animated-background" %>
<div class="text-overlay"><p id="zdjecie">Twoj fryzjer czeka</p></div>
<div class="section">
  <div class="container">
<div class="grid is-col-min-22" >
  <div class="cell">
    <article class="box">
      <p class="title">Hello World</p>
      <p class="subtitle">What is up?</p>
    </article>
  </div>
  <div class="cell">
    <article class="notification is-success">
      <p class="title">Foo</p>
      <p class="subtitle">Bar</p>
    </article>
  </div>
</div>
<div class="grid"><article class="box"><%= image_tag asset_path( 'cut.jpg' ), class: 'image is-64x64 is-centered' %></article></div>
<div class="cell is-row-span-2"><article class= "box"><p>halo</p></article></div></div>
  </div>

  </div>
</div>

</div>
